<div class="container">

  <form class="form-inline" [formGroup]="searchForm">
    <label for="Naam" class="mx-2">naam</label>
    <input class="form-control" type="text" formControlName="naam" name="naam">

    <label for="caloriën" class="mx-2">caloriën</label>
    <input class="form-control" type="text" formControlName="caloriën" name="caloriën">

    <label for="ingrediënten" class="mx-2">ingrediënten</label>
    <input class="form-control" type="text" formControlName="ingrediënten" name="ingrediënten">

    <label for="tijd" class="mx-2">tijd</label>
    <input class="form-control" type="text" formControlName="tijd" name="tijd">

    <button type="submit" (click)="getSearch(searchForm)" class="btn btn-primary m-2">Search!</button>
  </form>

  <table class="table table-bordered" *ngIf="data" >
    <th>Naam</th>
    <th>Trainer</th>
    <th>Geslacht</th>
    <th>Type</th>
    <th>Datum</th>
    <tr *ngFor="let Recepten of data">
      <td>{{recepten.naam}}</td>
      <td>{{recepten.caloriën}}</td>
      <td>{{recepten.ingrediënten}}</td>
      <td>{{recepten.tijd}}</td>
      <td>
        <ul>
          <li *ngFor="let item of Recepten.type">
            {{item}}
          </li>
        </ul>
      </td>
      <td>{{Recepten.owned}}</td>
    </tr>
  </table>
</div>